/*
*@author : Yogesh Ghimire
*/

#toBuyController,
#alreadyBoughtController {
    color: darkorchid;
    font: bolder;
    font-size: 1.5em;
}

#alreadyBoughtController>h1,
#toBuyController>h1 {
    text-decoration: underline;
    color: brown;
    padding-bottom: 20px;
}

.groupItem {
    padding: 20px;
}

.errorMsg {
    color: red;
    padding: 20px;
}

#title {
    text-align: center;
    background-color: antiquewhite;
    padding: 15px;
    margin-top: 0px;
}